:root {
    --bg-color: #707A8C; /* Foreground */
    --bg-variant: #e2e2da; 
    --primary: #F28779; /* Red */
    --primary-variant: #F27983;
    --secondary: #63759926; /* Current Line */
    --font-color: #212529; 
    --selection-color: black;
}

.dark {
    --bg-color: #1F2430; /* Background */
    --bg-variant: #409FFF40; /* Selection */
    --primary: #FFAD66; /* Orange */
    --primary-variant: #FFD173; /* Yellow */
    --secondary: #D5FF80; /* Green */
    --font-color: #f3f3f3; 
    --selection-color: black;
}