:root {
    --bg-color: #F8F9FA; /* Background */
    --bg-variant: #56728F1F; /* Selection */
    --primary: #F2AE49; /* Orange */
    --primary-variant: #399EE6; /* Blue */
    --secondary: #86B300; /* Green */
    --font-color: #212529; 
    --selection-color: black;
}

.dark {
    --bg-color: #0B0E14; /* Background */
    --bg-variant: #47526640; /* Selection */
    --primary: #FFB454; /* Orange */
    --primary-variant: #59C2FF; /* Blue */
    --secondary: #AAD94C; /* Green */
    --font-color: #f3f3f3; 
    --selection-color: black;
}