:root {
    --bg-color: #F8F8F2; /* Foreground */
    --bg-variant: #e2e2da; 
    --primary: #FF5555; /* Red */
    --primary-variant: #ff1717;
    --secondary: #6272A4; /* Current Line */
    --font-color: #212529; 
    --selection-color: black;
}

.dark {
    --bg-color: #282A36; /* Background */
    --bg-variant: #44475A; /* Selection */
    --primary: #FFB86C; /* Orange */
    --primary-variant: #F1FA8C; /* Yellow */
    --secondary: #50FA7B; /* Green */
    --font-color: #f3f3f3; 
    --selection-color: black;
}