{{ define "main" }}
<div class="container pt-5">
  <!-- <h1>{{ .Title }}</h1> -->
  <div class="row mt-5 pt-5">{{ partial "menu.html" (dict "menuID" "main" "page" .) }}</div>
  {{ .Content }} 
  {{ if eq .Type "posts" }}
    <h1>Shenanigans</h1>
  {{ end }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }} {{ range $paginator.Pages }}
  <div class="row mb-3">
    <div class="col-auto">
      <h5>»</h5>
    </div>
    <div class="col">
      <h2 class="h5 list-post-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h2>
      {{ if .Site.Params.showPostsSummary }}
      <p class="small opacity-75 post-summary">{{ .Summary }}</p>
      {{ end }}
    </div>
  </div>
  {{ end }} {{ $paginator := .Paginator }} {{ if gt $paginator.TotalPages 1 }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{ if $paginator.HasPrev }}
      <li class="breadcrumb-item">
        <a href="{{ $paginator.Prev.URL }}">← back</a>
      </li>
      {{ end }} {{ if $paginator.HasNext }}
      <li class="breadcrumb-item">
        <a href="{{ $paginator.Next.URL }}">next →</a>
      </li>
      {{ end }}
    </ol>
  </nav>
  {{ end }}
</div>
{{ end }}
