/* Colour Variables */
.notice {
  --note: #293df2;
  --abstract: #0ca68c;
  --info: #09c3ed;
  --todo: #8d05a8;
  --tip: #19cfb0;
  --success: #04d904;
  --orange: #e38902;;
  --red: #e31a00;
  --example: #b83acf;
  --quote: #918e91;
}

.notice {
  margin-bottom: .5rem;
  border: 1px solid;
  padding: 1.5rem;
  border-color: currentColor;
}

.notice-head {
  display: flex;
  align-items: center;
}

.notice-head svg {
  margin-right: 0.75rem;
}

.notice-head p {
  font-size: 1.25rem;
  font-weight: 600;
  color: inherit !important;
  margin: 0;
  line-height: 1;
  transform: translateY(0.05em);
}

.notice-body {
  margin-top: 0.75rem;
}

.notice-body p {
  color: var(--font-color);
  margin: 0;
}

.notice.note {
  color: var(--note);
  background-color: rgba(41, 61, 242, 0.15);
}

.notice.abstract {
  color: var(--abstract);
  background-color: rgba(12, 166, 140, 0.15);
}

.notice.info {
  color: var(--info);
  background-color: rgba(9, 195, 237, 0.15);
}

.notice.todo {
  color: var(--todo);
  background-color: rgba(141, 5, 168, 0.15);
}

.notice.tip {
  color: var(--tip);
  background-color: rgba(25, 207, 176, 0.15);
}

.notice.success {
  color: var(--success);
  background-color: rgba(4, 217, 4, 0.15);
}

.notice.question {
  color: var(--orange);
  background-color: rgba(227, 137, 2, 0.15);
}

.notice.warning {
  color: var(--orange);
  background-color: rgba(227, 137, 2, 0.15);
}

.notice.failure {
  color: var(--red);
  background-color: rgba(227, 26, 0, 0.15);
}

.notice.danger {
  color: var(--red);
  background-color: rgba(227, 26, 0, 0.15);
}

.notice.bug {
  color: var(--red);
  background-color: rgba(227, 26, 0, 0.15);
}

.notice.example {
  color: var(--example);
  background-color: rgba(184, 54, 207, 0.15);
}

.notice.quote {
  color: var(--quote);
  background-color: rgba(145, 142, 145, 0.15);
}
